body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(7,158,225);
}


.fade-out-header {
    position: absolute;
    top: 30;
    width: 100%;
    height: 130px;
    background: linear-gradient(to bottom, rgb(0,33,71), rgba(0, 0, 0, 0));
    z-index: 10;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('https://i.ibb.co/ZGptYNL/Pozad-flek.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 500px;
    height: auto;
}

.slogan {
    position: absolute;
    top: 180px;
    right: 60px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    transform: rotate(12deg);
    font-family: 'Tw Cen MT Condensed Extra Bold', 'Fjalla One', sans-serif;
}

.social-icons {
    position: absolute;
    top: 450px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icon {
    width: 60px;
    height: 60px;
}

/* MOBILY */
@media (max-width: 1200px) {
    body, html {
        display: flex;
    }

    .background {
        height: auto;
        width: 100%;
    }

    .logo {
        width: 300px;
        top: 120px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .slogan {
        font-size: 30px;
        top: 380px;
        left: 50%;
        transform: translate(-50%, 0) rotate(12deg);
        color: rgb(0, 0, 0);
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;           
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.5em;
        max-height: 3em;
    }

    .social-icons {
        top: calc(50% + 190px);
        left: 50%;
        transform: translate(-50%, 0);
        flex-direction: row;
    }

    .social-icon {
        width: 50px;
        height: 50px;
    }
}

/* DESKTOP */
@media (min-width: 1201px) {
    .logo {
        width: 700px;
        top: 120px;
        left: 70px;
    }

    .slogan {
        font-size: 70px;
        top: 280px;
        right: 60px;
        transform: rotate(12deg);
    }

    .social-icons {
        flex-direction: column;
    }
}
