body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(7,158,225);
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130px;
    background: linear-gradient(to bottom, rgb(0,33,71), rgba(0, 0, 0, 0));
    z-index: 10;
}

.menu-toggle {
    background-color: rgb(0,33,71);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    z-index: 20;
}

.header-links {
    position: absolute;
    top: 20px;
    right: 100px;
    display: flex;
    gap: 15px;
    z-index: 20;
}

.header-links a {
    text-decoration: none;
    color: white;
    font-family: 'Tw Cen MT Condensed Extra Bold', 'Fjalla One', sans-serif;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 18px;
}

.header-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.slide-out-menu {
    position: absolute;
    top: 70px; 
    right: -250px; 
    width: 230px;
    background-color: rgb(0,33,71);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: right 0.3s ease;
    z-index: 15;
}

.slide-out-menu.active {
    right: 20px;
}

.slide-out-menu a {
    text-decoration: none;
    color: white;
    font-family: 'Tw Cen MT Condensed Extra Bold', 'Fjalla One', sans-serif;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-size: 18px;
}

.slide-out-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.background {
    width: 100%;
    height: 100vh;
    background: url('https://i.ibb.co/ZGptYNL/Pozad-flek.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 500px;
    height: auto;
}

.slogan {
    position: absolute;
    top: 180px;
    right: 60px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    transform: rotate(12deg);
    font-family: 'Tw Cen MT Condensed Extra Bold', 'Fjalla One', sans-serif;
}

.social-icons {
    position: absolute;
    top: 450px;
    left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-icon {
    width: 65px;
    height: 65px;
}

.new-text-field {
    width: 1000px;
    position: absolute;
    bottom: 80px;
    right: 80px;
    text-align: right;
    color: rgb(0, 0, 0);
    font-family: 'Tw Cen MT Condensed Extra Bold', 'Fjalla One', sans-serif;
}

.loremlorem {
    font-family: 'Tw Cen MT Condensed Extra Bold', 'Fjalla One', sans-serif;
    font-size: 30px;
}

.more-info {
    color: rgb(0, 33, 71);
    text-decoration: none;
}

/* MOBILY */
@media (max-width: 1200px) {
    .header-links {
        right: 60px;
        gap: 10px;
    }

    .background {
        height: auto;
        width: 100%;
        background: url('https://i.ibb.co/ZGptYNL/Pozad-flek.png') no-repeat center center;
        background-size: cover;
    }

    .logo {
        width: 300px;
        top: 120px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .slogan {
        font-size: 30px;
        top: 340px;
        left: 50%;
        transform: translate(-50%, 0) rotate(12deg);
        color: rgb(0, 0, 0);
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;           
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.5em;
        max-height: 3em;
    }

    .social-icons {
        bottom: 140px;
        left: 50%;
        transform: translate(-50%, 0);
        flex-direction: row;
    }

    .social-icon {
        width: 50px;
        height: 50px;
    }

   
    .new-text-field {
        width: 350px;
        position: absolute;
        top: 550px; 
        right: 20px; 
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: 'Tw Cen MT Condensed Extra Bold', 'Fjalla One', sans-serif; 
    }

    .loremlorem {
        font-family: 'Tw Cen MT Condensed Extra Bold', 'Fjalla One', sans-serif;
        font-size: 20px; 
    }

    .more-info {
        color: rgb(0, 33, 71);
        text-decoration: none;
    }
}

/* DESKTOP */
@media (min-width: 1201px) {
    .logo {
        width: 700px;
        top: 120px;
        left: 70px;
    }

    .slogan {
        font-size: 70px;
        top: 280px;
        right: 60px;
        transform: rotate(12deg);
    }

    .social-icons {
        flex-direction: column;
    }
}